// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$texto-titulo    = #B3B3B3
$texto-subtitulo = #808080
$cinza           = #959799
$destaque        = #99FFFF

// Fonts
@font-face
    font-family 'Aleo'
    src: url('../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Regular.ttf') format('truetype'),
    font-weight normal
    font-style normal
@font-face
    font-family 'Aleo'
    src: url('../fonts/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold.ttf') format('truetype'),
    font-weight bold
    font-style normal
aleo($size, $weight = normal)
    font-size $size + 0px
    font-family Aleo, Georgia, Times, 'Times New Roman', serif
    font-weight normal
    font-style normal
    if $weight == bold
        font-weight bold
@font-face
    font-family 'Cambria'
    src: url('../fonts/Cambria.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cambria.ttf') format('truetype'),
    font-weight normal
    font-style normal
@font-face
    font-family 'Cambria'
    src: url('../fonts/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cambria-Bold.ttf') format('truetype'),
    font-weight bold
    font-style normal
@font-face
    font-family 'Cambria'
    src: url('../fonts/Cambria-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cambria-Italic.ttf') format('truetype'),
    font-weight normal
    font-style italic
@font-face
    font-family 'Cambria'
    src: url('../fonts/Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cambria-BoldItalic.ttf') format('truetype'),
    font-weight bold
    font-style italic
cambria($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family Cambria, Georgia, Times, 'Times New Roman', serif
    font-weight normal
    font-style normal
    if $weight == bold
        font-weight bold
    if $style == italic
        font-style italic
