header
    position relative
    width 100%
    height 200px
    background $img('topo-internas.jpg') no-repeat center
    background-size cover
    &.servicos
        background $img('topo-servicos.jpg') no-repeat center
    &.contato
        background $img('topo-contato.jpg') no-repeat center
    &:after
        content ""
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background rgba(#000, .2)
    +below($mobile)
        display none
    &.home
        height 570px
        background none
        &:after
            display none
        +below($mobile)
            display block
        .nav-principal-wrapper
            .nav-principal
                padding 70px 40px 0 0
                +below($tablet)
                    padding 50px 30px 0 0
        +below($tablet)
            height 315px
        +below($mobile)
            height 185px
        .banners
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            overflow hidden
            .cycle-pager
                position absolute
                width 980px
                left 50%
                margin-left -490px
                bottom 20px
                z-index 7000
                padding-left 333px
                a
                    display block
                    text-indent -9999px
                    width 40px
                    height 5px
                    float left
                    margin-right 5px
                    background #797A7C
                    transition background .3s
                    &.cycle-pager-active
                        background #fff
                +below($tablet)
                    padding-left 30%
                    width 90%
                    margin 0 5%
                    left 0
                +below($mobile)
                    display none
            .banner
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background-repeat no-repeat
                background-size cover
                background-position center
                &:after
                    content ""
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba(#000, .3)
                .banner-link
                    position absolute
                    display block
                    width 100%
                    height 100%
                    top 0
                    left 0
                    z-index 3
                .center
                    height 100%
                .banner-texto-wrapper
                    position relative
                    z-index 2
                    width 100%
                    height 100%
                    display table
                    .banner-texto
                        display table-cell
                        vertical-align middle
                        padding-left 34%
                        +below($mobile)
                            text-align center
                            padding 0 2%
                        span
                            display block
                            cursor default
                            color #fff
                            &.titulo
                                cambria 39
                                text-transform uppercase
                            &.frase
                                cambria 16 normal italic
                            +below($mobile)
                                &.titulo
                                    font-size 27px
                                    line-height 1
                                    margin-bottom 3px
                                &.frase
                                    font-size 14px
    .nav-principal-wrapper
        position relative
        z-index 6999
        height 100%
        clearfix()
        +below($mobile)
            display none
        > h1
            display block
            float left
            margin-top 60px
            margin-left 50px
            a
                display block
                width 233px
                height 73px
                img
                    display block
                    width 100%
        #banner-link-outside
            display block
            position relative
            float left
            width 72%
            height 100%
        .nav-principal
            position relative
            float left
            width 28%
            height 100%
            padding 50px 50px 0 0
            background rgba(#000, .5)
            text-align right
            &:before
                content ""
                width 9999px
                height 100%
                position absolute
                left -9999px
                top 0
                background rgba(#000, .5)
            nav
                clearfix()
                a
                    display inline-block
                    float right
                    clear right
                    color #fff
                    text-decoration none
                    text-transform uppercase
                    aleo 15
                    border-bottom 1px dotted transparent
                    transition border-color .3s
                    margin-bottom 20px
                    padding-bottom 2px
                    &:hover
                    &.active
                        border-color rgba(#fff, .6)
            h1
                width 100%
                display block
                margin-top 85px
                +below($tablet)
                    margin-top 35px
                a
                    display block
                    width 100%
                    img
                        display block
                        width 100%
                        height auto
.header-mobile
    +above($mobile)
        display none
    display block
    width 100%
    background #000
    height 60px
    h1
        margin 0
        padding 0
        display block
        padding-top 15px
        float left
        a
            display block
            height 30px
            img
                display block
                height 100%
                width auto
    button
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 60px
        width 24px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 3px
            background white
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                border-radius 2px
                background white
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
nav.mobile
    +above($mobile)
        display none !important
    display none
    position absolute
    width 100%
    height 185px
    top 60px
    left 0
    z-index 6999
    background #000
    text-align right
    padding 25px 5% 0
    a
        display block
        color #fff
        text-decoration none
        text-transform uppercase
        aleo 14
        transition color .3s
        margin-bottom 20px
        &:last-child
            margin 0
        &:hover
        &.active
            color $destaque

footer
    width 100%
    .info
        border-top 2px solid #CBCBCB
        margin-top 10px
        padding 20px 0
        clearfix()
        .left
            float left
            clearfix()
            .col
                float left
                color rgba(#000, .7)
                margin-right 30px
                +below(780px)
                    max-width 130px
                +below($mobile)
                    max-width 40%
                    &:last-child
                        margin-right 0
                h4
                    margin 0 0 5px
                    cambria 11 bold
                    text-transform uppercase
                    cursor default
                ul
                    padding 0
                    margin 0
                    list-style-type none
                    li
                        cambria 11
                        margin-bottom 2px
                        position relative
                        padding-left 5px
                        &:before
                            content '\00B7'
                            position absolute
                            left 0
                            top 0
                        a
                            color inherit
                            text-decoration none
                            transition color .3s
                            &:hover
                                color #29B4B4
        .right
            float right
            .marca
                width 93px
                height 21px
                float left
                background $img('marca-inniti-rodape.png') no-repeat center
            .contato
                float left
                cambria 11
                color rgba(#000, .7)
                margin-left 25px
                +below($mobile)
                    width 100%
                    clear left
                    margin-left 0
                    margin-top 15px
                .linkedin
                    float left
                    display block
                    width 26px
                    height 26px
                    text-indent -9999px
                    background $img('icone-linkedin.png') no-repeat top left
                .telefone
                    color #000
                    margin 0
                .email
                    color inherit
                    text-decoration none
                    transition color .3s
                    &:hover
                        color #29B4B4
                .endereco
                    margin-top 10px
                    p
                        margin 0
        +below($mobile)
            .left
            .right
                float none
            .left
                margin-bottom 20px
    .slogan
        background $img('bg-stamp.png') repeat
        min-height 80px
        position relative
        .center
            height 100%
            display table
            >div
                display table-cell
                vertical-align middle
                text-align center
                aleo 24
                line-height 1
                padding 25px 0
                cursor default
                strong
                    aleo 30 bold
                p
                    display inline-block
                    margin 2px
                +mobile()
                    aleo 19
                    strong
                        aleo 23 bold
    .copyright
        background #CBCBCB
        cambria 10
        text-align center
        color rgba(#000, .7)
        padding 5px
        cursor default
        a
            text-decoration none
            color inherit
            transition color .3s
            &:hover
                color black
            &.politica:hover
                color #29B4B4
        p:last-child
            cambria 9

.not-found
    padding 80px 0 120px
    text-align center
    +below($tablet)
        padding 40px 0 75px
    +mobile()
        padding 30px 0
    h2
        display inline-block
        cambria 14 bold
        text-transform uppercase
        padding 20px
        border 2px solid $cinza
        color $cinza
