.main.home
    clearfix()
    overflow-x hidden
    .textos
        position relative
        clearfix()
        .slogan
            position absolute
            width 28%
            height 100%
            top 0
            left 0
            .slogan-wrapper
                position relative
                display table
                width 100%
                height 100%
                div
                    display table-cell
                    vertical-align middle
                    text-align center
                    aleo 24
                    line-height 1
                    padding 0 10px
                    cursor default
                    p
                        margin 0
                    strong
                        aleo 30 bold
            +below($tablet)
                .slogan-wrapper div
                    aleo 19
                    padding 0 5px 0 0
                    text-align left
                    strong
                        aleo 23 bold
            +mobile()
                position relative
                float left
                width 100%
                .slogan-wrapper
                    display block
                    div
                        display block
                        text-align center
                        padding 20px 0
                        p
                            display inline-block
        .texto
            position relative
            width 72%
            float right
            background #000
            color #fff
            padding 2% 0 2% 28%
            cambria 16 normal italic
            .triangulo
                position absolute
                width 35%
                height 100%
                left 0
                top 0
                overflow hidden
                &:before
                    content ""
                    width 0
                    height 0
                    position absolute
                    top 0
                    left 0
                    border-style solid
                    border-width 500px 0 0 500px
                    border-color transparent transparent transparent #EBEBEB
            &:after
                content ""
                position absolute
                width 2000px
                height 100%
                right -2000px
                top 0
                background #000
            +below($tablet)
                .triangulo
                    display none
                padding 2% 3.5%
            +below($mobile)
                width 100%
                clear both
                float left
                padding 2% 0
                &:after
                    left -100%
                    width 100%
                &:before
                    content ""
                    width 100%
                    height 100%
                    position absolute
                    top 0
                    background #000
                    right -100%
    .chamadas
        clearfix()
        width 100%
        clear both
        float left
        margin 45px 0
        font-size 0
        display flex
        .col
            display inline-block
            text-align center
            vertical-align top
            width 25%
            padding 20px 0
            border-right 1px solid #CDCDCD
            &:last-child
                border 0
            h4
                margin 0 0 5px
                padding 0 15%
                cambria 17
                text-transform uppercase
            p
                margin 0
                padding 0 10%
                cambria 14 normal italic
        +below($tablet)
            flex-wrap wrap
            .col
                width 49.5%
                flex-grow 1
                flex-shrink 0
                text-align right
                margin-bottom 20px
                h4
                p
                    padding 0 10%
                &:nth-child(2n)
                    text-align left
                    border-right 0
        +below($mobile)
            display block
            margin 30px 0 20px
            .col
                width 100%
                display block
                float none
                border 0
                padding 0
                margin-bottom 20px
                text-align center !important
