.main.paginas
    clearfix()
    aside
        position relative
        float left
        width 28%
        height 100%
        padding 50px 50px 50px 0
        background $cinza
        text-align right
        a
            display block
            position relative
            color #fff
            cambria 15
            text-decoration none
            transition color .3s
            margin-bottom 16px
            &:last-child
                margin-bottom 0
            // &:after
            //     content ""
            //     position absolute
            //     width 10px
            //     height 1px
            //     background #fff
            //     right 0
            //     bottom 2px
            //     transition background .3s
            &:hover
            &.active
                color #000
                &:after
                    background $destaque
        &:before
            content ""
            width 9999px
            height 100%
            position absolute
            left -9999px
            top 0
            background $cinza
        // &:after
        //     content ""
        //     width 0
        //     height 0
        //     position absolute
        //     bottom 0
        //     right 0
        //     border-style solid
        //     border-width 0 0 70px 70px
        //     border-color transparent transparent #fff transparent
        +below($mobile)
            width 100%
            float none
            margin-bottom 30px
            padding 20px 0
            &:after
                display none
            &:before
                width 111%
                left -5.5%

    article
        width 72%
        float right
        padding 50px 0 0 50px
        img
            display block
            max-width 655px
            width auto
            height auto
            margin 10% 0
        h2
            width 75%
            color $texto-titulo
            cambria 54
            line-height 1
            margin-top 0
            margin-bottom .5em
            text-transform uppercase
            +below($tablet)
                font-size 46px
            +below($mobile)
                font-size 33px
        ul
            padding-left 0
            padding-top 0
            list-style-type none
        p
        li
        a
        form
            width 75%
            position relative
            line-height 1.5
            color #000
            cambria 14
            text-decoration none
            &:last-child
                margin-bottom 5%
            &.olho
            &.subtitulo
                font-size 18px
                color $texto-subtitulo
                margin 1.5em 0
            &.subtitulo
                padding-bottom 3px
                border-bottom 1px solid $texto-subtitulo
                font-style italic
                margin 1em 0 .5em
        li
            padding-left 10px
            &:before
                content '\00B7'
                position absolute
                left 0
        &.servicos
            h2
                margin-bottom 0
            .olho:first-child
                margin-top 0.3em
        &.executivos
            img
                margin 0 0 15px 15px
                float right
                +mobile()
                    width 40%
                    height auto
        &.metodologia
            .grafico-wrapper
                margin-top 20px
            .desktop
                clearfix()
                margin-bottom 40px
                width 490px
                .grafico
                    width 245px
                    height 245px
                    float left
                    background-position center
                    background-repeat norepeat
                    transition background .3s ease
                    &:nth-child(3n)
                        clear left
                    &.grafico-1
                        background-image $img('grafico1.png')
                        &:hover
                            background-image $img('grafico1a.png')
                    &.grafico-2
                        background-image $img('grafico2.png')
                        &:hover
                            background-image $img('grafico2a.png')
                    &.grafico-3
                        background-image $img('grafico3.png')
                        &:hover
                            background-image $img('grafico3a.png')
                    &.grafico-4
                        float right
                        background-image $img('grafico4.png')
                        &:hover
                            background-image $img('grafico4a.png')
                +below($tablet)
                    display none
            .mobile
                img
                    margin-top 5%
                +above($tablet)
                    display none
        p:last-child
            margin-bottom 0
            img
                margin-bottom 0
        +below($tablet)
            h2
            p
            li
            form
                width 100%
            img
                max-width 100%
        +below($mobile)
            width 100%
            float none
            padding 0
        &.privacidade
            width 100%
            padding 4% 0 4%
            +mobile()
                padding-top 6% 0 0
            h2
            p
                width 100%
        &.contato
            padding-bottom 5%
            .olho
                margin-bottom 5px
            .endereco
                margin-bottom 5px
                p
                    margin 0
            .googlemaps
                iframe
                    width 100%
                    height 282px
                    +below($tablet)
                        height 220px
            form
                margin 5% 0
                input
                textarea
                    width 100%
                    margin-bottom 3px
                    padding 2px 8px
                    border 1px solid lighten($cinza, 15)
                    &.error
                        border 1px solid rgba(red, .4)
                textarea
                    height 150px
                    resize vertical
                    display block
                #curriculo
                    width 100%
                    display block
                    position relative
                    border 1px solid lighten($cinza, 15)
                    margin-bottom 6px
                    cursor pointer
                    &.error
                        border 1px solid rgba(red, .4)
                    &.active span
                        font-weight bold
                    input[type='file']
                        opacity 0
                        top 0
                        left 0
                        width 0
                        height 0
                        position absolute
                        z-index 0
                    span
                        color black
                        display block
                        white-space nowrap
                        overflow hidden
                        text-overflow ellipsis
                        padding 2px 8px
                        text-align center
                input[type='submit']
                    background lighten($cinza, 8)
                    color #fff
                    cambria 16
                    border 0
                    padding 4px 0
                    transition background .3s
                    &:hover
                        background $cinza
                .response
                    background lighten($cinza, 32)
                    padding 2% 3%
                    margin-bottom 3%
                    p
                        margin 0
                        cambria 13
                        color $texto-subtitulo
                        strong
                            color #E74B4B
                    &.success
                        text-align center
                        padding 5%
                        cambria 16 normal italic
